<h1>Welcome to join our Beta Testing Program!</h1>
<p style="padding:5px 2px;">
  <span style="color:#aaa">Step 1 of 2. Create an account</span><br />
  <b style="color:#36c">Step 2 of 2. Activate your account through email</b><br /><br />
  We have sent an activation email to following email address <%= flash[:email] %><br />
	Please check your inbox and follow the instructions to actiavte your account.<br />
	After the activation you will be able to sign in and start using our product.<br />
	It is free!
</p>